<header class="px-4 sm:px-6 lg:px-8">
  header 
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
<footer class="p-10 bg-purple-400 text-white text-center">This is footer section</footer>
